.detail {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  column-gap: 100px;
  background-image: linear-gradient(to top, #6774ff, #8471ff, #a76dff, #d16eff);
  img {
    width: 450px;
    height: 350px;
    border-radius: 10px;
  }
  .detailRight {
    width: 30%;
    img {
      height: 20px;
      width: 100px;
    }
    .delet {
      padding: 10px;
      background-color: red;
      color: white;
      height: 50px;
      width: 100px;
      border-radius: 10px;
      border-style: none;
      cursor: pointer;
      box-shadow: inset 0 0 0 0 #cb6464;
      -webkit-transition: ease-out 1s;
      -moz-transition: ease-out 1s;
      transition: ease-out 1s;
      &:hover {
        box-shadow: inset 400px 0 0 0 #cb6464;
      }
    }
  }
}
